---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:    'Fira Sans', sans-serif;
$special-font:        'Comfortaa', sans-serif;
$base-font-size:      18px;
$small-font-size:     $base-font-size * 0.9;
$base-line-height:    1.5;

$spacing-unit:        30px;

$text-color:          #ffd454;
$background-color:    #A52A2A;
$background-gradient: linear-gradient(to bottom, $background-color, #480a1e);
// $background-gradient: linear-gradient(to bottom, $background-color, darken($background-color, 20%));
$background-image:    url(../images/skewed_print.png);
// $body-bg:             url(/images/classy_fabric.png);
$body-bg:             none;
$brand-color:         #79C7F1;

$basic-text-shadow:   0.05em 0.05em 0.1em rgba(255,255,255,0.15);

// $grey-color:       #7b968d;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 10%);

// Width of the content area
$content-width:       1300px;

$on-palm:             600px;
$on-laptop:           800px;

@mixin dark-bg {
  background-image: $background-image;
  box-shadow: 0 0 2em black;
}
@mixin basic-trans($properties...) {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-property: $properties;
  transition-property: $properties;
}
@mixin abs00 {
  position: absolute;
  top: 0;
  left: 0;
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";
