---
layout: default
---

<div class="home">
  <input type="search" placeholder="Search" class="search" rv-on-input="filter" rv-on-keyup="filter">
  <p class="list-controls">
    Sort by:
    <span rv-on-click="sort_date">date <span class="sort-arrow">&#9652;</span></span>
    &bull;
    <span rv-on-click="sort_poet">poet <span class="sort-arrow">&#9652;</span></span>
    &bull;
    <span rv-on-click="sort_duration">duration <span class="sort-arrow">&#9652;</span></span>
  </p>

  <ul class="post-list">
    {% for video in site.data.videos %}
      <li id="{{ video.lastName }}" class="loading">
        <div class="mugshot" data-echo-background="/images/poets/1400/{{ video.firstName }}-{{ video.lastName | replace:' ','-' }}.jpg"></div>
        <div class="video">
          <div class="youtube" id="{{video.id}}" style="background-image:url(/images/Arc-play-white.png)"></div>
          <span class="post-meta">
            <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
              <span class="poet">
                {% if video.firstNameAccents %}{{video.firstNameAccents}}{% else %}{{video.firstName}}{% endif %}
                {% if video.lastNameAccents %}{{video.lastNameAccents}}{% else %}{{video.lastName}}{% endif %}
              </span> ({{video.duration}})</a></span>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
