/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // background-color: $background-color;
    // background-image: $body-bg;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $special-font;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    // &,
    // &:visited {
    //     color: $grey-color-dark;
    // }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        // color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        background-image: $body-bg;
        border: 1px solid grey;
        border-radius: 5px;
        text-align: right;
        padding-bottom: 8px;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: black;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    // padding: $spacing-unit 0;
    // background-color: $background-color;
    // background-image: $body-bg;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
// .page-content {
//     background-color: #A52A2A;
//     background-image: -webkit-#{$background-gradient};
//     background-image: $background-gradient;
//     background-attachment: fixed;
// }

.home {
  padding: $spacing-unit * 2 0 $spacing-unit;
  text-align: center;

  input.search {
    -webkit-appearance: none;
    font-family: inherit;
    text-align: center;
    width: 12em;
    max-width: 100%;
    padding: 0.3em 0.3em 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid white;
    margin-bottom: 0.3em;
  }

  .list-controls {
    margin-bottom: $spacing-unit * 2;

    .sort-arrow {
      display: inline-block;
      -webkit-transition-property: -webkit-transform, -ms-transform, transform;
              transition-property: -webkit-transform, -ms-transform, transform;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in-out;
              transition-timing-function: ease-in-out;
    }

    > span {
      cursor: pointer;
      color: $brand-color;
      &:hover {
        color: $text-color;
      }
    }
  }
}

.page-heading {
    font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  line-height: 1.1;

  > li {
    background-image: url(/images/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    // display: inline-block;
    width: 100%;
    // vertical-align: top;
    text-align: center;
    margin-bottom: $spacing-unit * 3;
    box-shadow: 0 0 0.5em black;

    > div.mugshot {
      width: 100%;
      height: 380px;
      // display: inline-block;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    > div.video {
      @include abs00;
      font-size: 1.5em;
      width: 100%;
      vertical-align: top;

      > span {
        font-size: inherit;
        padding: 0.5em 0;
        text-shadow: $basic-text-shadow;
      }

      > div {
        @include basic-trans(opacity);
        opacity: 0;
        &:hover {
          opacity: 0.8;
        }
      }

      > iframe, > div {
        cursor: pointer;
        background-size: 25% auto;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 380px;
        margin-bottom: $spacing-unit / 2;
      }
    }
  }
}

.post-meta {
    font-size: $small-font-size;
    // color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post {
  padding: 4em 0;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
